:root {

    --color-brand-normal: #819B57;
    --color-brand-dark: #465929;
    --color-primary-light: #FAF4EA;
    --color-primary-dark: #31261A;
    --color-brand-light: #cfcfbc;
    --color-secondary-dark: #A28268;

}