.backdrop {

    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);

    padding: 20px 0;
    transition: opacity .3s, visibility .3s;

    &.is-hidden {

        opacity: 0;
        visibility: hidden;
        pointer-events: none;

    }

}

.modal {

    height: 880px;
    width: 880px;
    background-color: var(--color-primary-light);
    border-radius: 32px;
    position: relative;
    padding: 128px;

    max-height: 880px;
    max-width: 880px;
    width: 100%;
    height: 100%;
    overflow-y: auto;

    &__button {

        display: block;
        margin: 0 auto 24px;

    }

    &__btn-close {

        position: absolute;
        top: 40px;
        right: 40px;

    }

    &__form-field {

        margin-bottom: 32px; 

    }

    h2 {

        font-weight: 900;
        font-size: 63px;
        text-align: center;
        margin-bottom: 0;

    }

    .modal-desc {

        font-weight: 400;
        font-size: 18px;
        text-align: center;
        color: var(--color-brand-dark);
        margin-bottom: 72px;

    }

}