.chefs-section {

    &__title {

        margin: 0 auto 80px;
        position: relative;

        &::after,
        &::before {

            display: block;
            position: absolute;
            width: 352px;
            bottom: 24px;
            border: 2px solid var(--color-brand-light);
            content: '';

        }

        &::after {

            right: 0;

        }

        &::before {

            left: 0;

        }

    }

    &__list {

        display: flex;
        gap: 40px 30px;
        flex-wrap: wrap;

    }

    &__item {

        flex-basis: calc((100% - 30px) / 2);

        .chef-card {

            display: flex;
            gap: 30px;

            &__photo {
            
                border-radius: 4px 4px 4px 200px;
        
                box-shadow:
                -16px 16px 0 0 var(--color-primary-light),
                -16px 16px 0 2px var(--color-secondary-dark);
        
            }

            &__text {

                p {
                    margin-bottom: 24px;

                    &:last-child {

                        margin-bottom: 0px;

                    }
                }

            }

            &__name {

                margin-bottom: 16px;
                font-weight: 600;
                font-size: 40px;

            }

        }

    }

}