.footer {

    padding: 32px 0;
    background-image: url(../img/footer-bg.png);
    background-color: var(--color-primary-dark);
    position: relative;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    &-nav__section {

        margin-bottom: 16px;

    }

    &-nav__contact-section {

        margin-bottom: 0;

    }

    &__nav {
    
        flex-basis: 50%;
        display: flex;
        gap: 20px;

        ul {

            flex-basis: 50%;

        }

    }

    &__logo {

        flex-basis: 50%;

    }

    &__container {

        display: flex;
        gap: 20px;
    
    }

    &__address {

        flex-basis: 50%;
        display: flex;
        gap: 20px;

        ul {

            flex-basis: 60%;

        }

    }


    &::before,
    &::after {

        position: absolute;
        content: '';
        bottom: 0;
        background-repeat: no-repeat;

    }

    &::before {


        background-image: url(/img/decor-bread-small.png);
        width: 180px;
        height: 120px;
        left: 0;


    }

    &::after {

        background-image: url(/img/decor-bread-large.png);
        width: 380px;
        height: 190px;
        right: 0;

    }

}

.address {

    &__copyright {

        font-size: 14px;
        color: #b9977a;
    }

    &-icon {

        fill: var(--color-primary-light);
        transition: fill .3s;

        &:hover {

            fill: var(--color-brand-normal);

        }

    }

    &__link {
    
        font-size: 16px;
        font-weight: 300;
        color: var(--color-primary-light);
        text-decoration: none;
        margin-bottom: 16px;

        &:hover {
    
            color: var(--color-brand-normal);
    
        }
    
    }

    &__info {

        flex-basis: 50%;
        text-align: right;

    }

}