.formats-section {

    &__title {

        margin-bottom: 80px;

    }

    &__list {

        margin-bottom: 32px;

    }

    &__slider {

        gap: 32px;
        display: flex;
        align-items: center;

    }

    &__container {

    overflow: hidden;

    }
}

