.header {

    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    padding-top: 32px;

    &__container {

        display: flex;
        align-items: center;
        gap: 40px;
    
    }

    &__nav {

        flex-grow: 1;
        display: flex;
        align-items: center;
        gap: 40px;

    }

    &__menu {

        display: flex;
        gap: 64px;
        flex-grow: 1;
        justify-content: center;

        @media screen and (max-width: 1200px) {
            
            display: none;

        }

    }

    &__button {

        @media screen and (max-width:1200px) {

            display: none;
            
        }

    }

}