.hero-section {

    padding: 272px 0;
    background-image: linear-gradient(127deg, rgba(18, 18, 17, 0.78) 0%, rgba(18, 18, 17, 0.6) 63.89%, rgba(18, 18, 17, 0) 100%), url(../img/hero-section-bg.jpg);
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;

    .hero-section__title {

        color: var(--color-primary-light);
        font-weight: 900;
        text-align: center;
        font-size: 128px;
        margin-bottom: 0;

    }

}