.traditions-section {

    padding-top: 96px;
    gap: 100px;

    &__title {
    
        margin-bottom: 42px;

    }

    &__desc {
    
        &--limited {

            max-width: 360px;

        }

    }

    &__container {

        display: flex;
        justify-content: space-between;
        gap: 40px;

    }

    &__content {

        max-width: 710px;

    }

    img {

        border-radius: 400px 400px 0 0;
    
    }

}