.input {

    position: relative;

    &__label {

        position: absolute;
        top: 16px;
        left: 42px;
        // left: 42px;
        // top: 18px;
        // font-size: 16px;
        // line-height: 1.17;
        // color: var(--color-secondary-dark);
        // transition: transform .3s;

    }

    &__control {

        padding: 16px 42px;
        width: 100%;
        border-radius: 8px;
        border: 1px solid var(--color-secondary-dark);
        background-color: transparent;

        &:focus {

            border-color: var(--color-brand-normal);
            outline: none;

            &::placeholder {

                color: var(--color-primary-dark);

            }

        }

        &::placeholder {

            color: var(--color-secondary-dark);
            font-size: 16px;
            line-height: 1.17;


        }

    }

}