.pagination {

    display: flex;
    align-items: center;
    gap: 24px;
    justify-content: center;

    &__button {

        background-color: var(--color-secondary-dark);
        width: 12px;
        height: 12px;
        border-radius: 50%;
        padding: 0;
        border: 0;

    }

}